<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="AppPlatform-Plugin"
	version="1.2.0">
	<name>AppPlatform Plugin</name>
	<author>Inspur Luyz</author>
	<description>AppPlatform-Plugin</description>

	<js-module src="www/AppPlatform.js" name="AppPlatform">
		<clobbers target="AppPlatform"/>
	</js-module>
	<!-- android -->
	<platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
      <intent-filter>
        <action android:name="com.inspur.zsyw.APP" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </config-file>
    <edit-config file="AndroidManifest.xml" target='/manifest/application/activity/intent-filter[android:label="@string/launcher_name"]' mode="overwrite">
      <action android:name="com.inspur.zsyw.APP" />
      <category android:name="android.intent.category.DEFAULT" />
    </edit-config>
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="AppPlatform">
				<param name="android-package" value="inspur.chinamobile.sd.cordova.plugin.AppPlatformPlugin"/>
			</feature>
		</config-file>
		<source-file src="src/android/AppPlatformPlugin.java" target-dir="src/inspur/chinamobile/sd/cordova/plugin"/>
		<source-file src="src/android/libs/platform3.0test.jar" target-dir="libs" />

	</platform>
</plugin>
